<h1 class="text-3xl">Precios de la aplicacion</h1>

<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque dolorem dolores doloribus eius esse, eveniet expedita facere fuga fugit labore libero, modi porro possimus, quis quisquam quod reprehenderit sunt.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti dignissimos dolorem eveniet facere illo, ipsum labore laboriosam maxime nesciunt quaerat quam quis, quisquam quos repudiandae sint tempore voluptates voluptatum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab, accusantium at, consectetur consequuntur delectus dolorum ea earum maxime neque nobis non obcaecati officia officiis pariatur quaerat quia similique veritatis.
  </p>
</section>

